<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <p id="notice"><%= notice %></p>
    <h3>以下の内容で、つぶやく。</h3>
    <%= form_for(@tweet) do |f| %>
      <%= f.hidden_field :content %>
      <p><%= @tweet.content %></p>
      <%= f.submit "ツイートする", class: 'btn btn-primary btn-block' %>
    <% end %>

    <%= form_for(@tweet, url: tweets_path, method: 'get') do |f| %>
      <%= f.hidden_field :content %>
      <%= f.submit "もどる", name: 'back',class: 'btn btn-primary btn-block' %>
    <% end %>
      <%= link_to "ツイート一覧画面にもどる", tweets_path %>
  </div>
<div>